


.login-container {
  background-color: black;


  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border: 1px solid black;

  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
 width: 30%;
 margin-top: 100px;

 margin-bottom: 100px;
}


main{
  height: 100%;
  width: 100%;
  display: flex;

  padding-top: 87px;

}

#logo-login{
 padding: 20px 0px;
}


.container-header{
  justify-content: center;
}

.login-header {
  background-color: white;
  color: black;
  width: 100%;
 padding: 10px 0px;
  text-align: center;

}

.login-body {
  padding: 40px 60px;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

}

label {
  display: block;
  width: 20%;
  font-weight: bold;
  color: white;
  margin-right: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color:white;
  color: black;
  padding: 10px;
  margin-top: 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 45%;

}



.entrar-registro{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.entrar-registro a{
  text-decoration: none;
  color: white;
  margin-top: 40px;

}

footer{
margin-top: 0px !important;
padding: 30px;

}

.span-login:hover{
  color: #ffdd6b;
}

@media screen and (max-width: 1670px) {


  .login-container{
margin: none;
width: 40%;
  }

}




@media screen and (max-width: 1250px) {


  .login-container{

width: 60%;
  }

}


@media screen and (max-width: 800px) {


  .login-container{

width: 80%;
  }

  .login-body{
    padding: 30px 30px;
  }

  .logo{
    justify-content: center;
  }
}

@media screen and (max-width: 585px) {
#logo-login{
  padding: 0px;
  
}
.titulo-nav{
  font-size: 22px;
}

.login-body{
  padding: 30px 10px;
}
.login-container{
  width: 90%;
}
}