*{
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
    

 
    background-color: white;
  
}

/* HEADER  */

header{
    position: fixed;
    width: 100%;
    z-index: 1000;

}

.container-nav {
    display: flex;
    justify-content: space-between;



    width: 100%;

    padding: 10px 250px;
    flex-direction: column;
    background-color: #1a1a19;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;


}

.titulo-nav{
    margin-bottom: 0;
    color: white;
}


.titulo-nav:hover{
    color:#ffdd6b; ;
}

.search-container {
    display: flex;
    width: 100%;
    margin: 10px 50px;
    max-width: 550px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #f8f8f8;
}

.container-svg-nav{
    cursor: pointer;
    padding: 0px 15px;
  

}

.container-svg-nav a{
  justify-content: center;
  align-items: center;
  display: flex;
  

}

.span-rastreio{
    font-weight: 600;
    font-size: 18px;
    min-width: 100%;



    color: white;
}


.span-rastreio:hover{
    color: #ffdd6b;

}


.nav-account{
    text-decoration: none;
    color: black;
    width: 100%;
  
}


.container-rastreio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-nav{
fill: white;
    padding: 0px 5px;
    margin: 10px 0px;
}

.container-account-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;

 
}


#search-responsive{
    display: none;
}



.container-catalogo{
    align-items: center;
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.container-catalogo a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
}


.container-catalogo a:hover{
    color:#ffdd6b;;
}



#menu-responsive{
    display: none;
    
}


.container-menu-tab{
    display: none;
    width: 40%;
    min-height: 100vh;
    background-color: rgb(24, 23, 23);
    padding-top: 20px;
    
}

.container-menu-tab a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    
    
}

.container-menu-tab a:hover{
    color: #ffdd6b;
}

.container-menu-tab li{
    list-style: none;
    padding: 10px;
    
}

.container-account-tab{

    display: none;
    
    
    width: 40%;
    position: absolute;
    right: 0px;
    background-color: #181717;
    padding-top: 20px;

}


.container-account-tab a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    


}

.container-account-tab a:hover{
    color: #ffdd6b;
}

.container-account-tab li{
    list-style: none;
    padding: 10px;
    
}
.svg-drop{
    fill: white;
    padding: 0px 5px;
    cursor: pointer;
}
.svg-drop2{
    fill: white;
    padding: 0px 5px;
    padding-bottom: 10px;
    cursor: pointer;

  
}

.container-main-fale-conosco{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;

    padding-top: 200px;
}

#form-send{
    width: 30%;
    
}

#form-send input{
    border: 2px gray solid;
}

#form-send textarea{
    border: 2px gray solid;
}

.titulo-fale-conosco{
    padding: 40px 0px;
    font-size: 32px;
}

#button-send{
    background-color: white;
    color: black;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    border: #1a1a19 2px solid;
    padding: 3px 10px;
    margin-top: 20px;
}


#button-send:hover{
    background-color: #1a1a19;
    color: white;
}



/* SECTION COLEÇÕES  */

section{
   padding-top: 165px;
}

.container-colecoes-father{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    width: 100%;
    padding: 100px;
    

}

.container-colecoes-father img{
    width: 11rem;
    padding-bottom: 15px;

    transition: transform 0.3s;
}

.container-colecoes-father p{
    font-size: 20px;
    font-weight: 600;
}


.container-coleoces-position{
    flex-direction: row;
    display: flex;
}

.container-colecoes{
    flex-direction: column;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;


    transition: color 0.3s;
}

.container-colecoes:hover a{

    color: #c2a033;

}

.container-colecoes:hover img{
    
    transform: scale(1.1); 
}



.titulo-colecoes{
    margin-bottom: 40px;
    border-bottom: solid 2px #1a1a19;
    padding: 0px 10px;
    padding-bottom: 5px;

}

.a-colecoes{
    text-decoration: none;
    color: black;
    text-align: center;
}


/* MAIN PRODUTOS  */

.container-produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 50px;
}

.container-produtos-child{
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}


.container-produtos-child img{
    width: 23rem;
    padding: 2rem;
    height: 25rem;

    transition: transform 0.3s;

   
}

.container-produtos-child img:hover{

    transform: scale(1.1); 

}

.container-pags{
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
  
}

.container-pags a{
    text-decoration: none;
    margin: 1rem;
    padding: 0.9rem;
    border-radius: 3rem;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: black;
    border: #1a1a19 solid 2px;

}

.container-pags a:hover{
    background-color: #1a1a19;
    color: white;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

.produto span{
    font-size: 19px;
    font-weight: 700;
}

.produto p{

padding: 10px;
font-size: 17px;
font-weight: 600;

}

.btn-next{
background-color: white;
color: black;
border: #1a1a19 solid 2px;
border-radius: 3rem;
font-size: 20px;
font-weight: 600;
margin-left: 20px; 
max-height: 70px;
padding: 10px;

}

.btn-next:hover{
    background-color: #1a1a19;
    color: white;
}

.svg-next{
    margin-left: 5px;
  
}

.a-button-next{
    border:none !important;
}

.a-button-next:hover{
    background-color: white !important;
}



.a-button-left{
    border:none !important;
}

.a-button-left:hover{
    background-color: white !important;
}


.btn-left{
    background-color: white;
    color: black;
    border: #1a1a19 solid 2px;
    border-radius: 3rem;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px; 
    max-height: 70px;
    padding: 10px;
    
    }
 
    .btn-left:hover{
        background-color: #1a1a19;
        color: white;
    }
    
    .svg-left{
        margin-right: 5px;
      
    }

/* FOOTER */



footer {
    background-color: #1a1a19;
    color: white;
    padding: 20px;
    text-align: center;
 
    margin-top: 100px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   

    
    
}

.footer-section {

    padding: 0px 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
 
}

.footer-section span{
    margin-left: 10px;

    font-size: 18px;
    
}


.footer-section a {
    color: white;
    text-decoration: none;

    
   
}
.footer-section li{
    list-style: none;
    padding: 10px;

}

.footer-section a:hover {
    color: #ffdd6b;
}

.text-last{
    width: 100%;
    margin-top: 30px;
    border-top: solid 1px white;
    padding-top:50px;

}

.container-last{
    margin: 0px 200px;
}


@media screen and (max-width: 1670px) {
.container-nav{
    padding: 10px 160px;
}


}


@media screen and (max-width: 1500px) {


    .container-nav{
            padding: 10px 110px;
        
    }

    .search-container{
        max-width: 400px;
    }


    .container-produtos-child img{
        width: 18rem;
        height: 19rem;
     
    
       
    }

.container-produtos{
    padding: 0px 20px;
}


.container-last{
    margin: 0px 100px;
}



}



@media screen and (max-width: 1250px) {


.span-rastreio{
    margin-right: 0 !important;
}


.container-nav{
    padding: 10px 60px;
}

.container-colecoes-father img {
width: 9rem;
}


.titulo-colecoes{
    font-size: 1.2rem;
}

.container-colecoes-father{
    padding: 50px;
}


.container-produtos-child img{
    width: 16rem;
    height: 17rem;
   
}



.container-produtos-child p {

    font-size: 15px;

}


.container-produtos-child span{
font-size: 17px;
}

#form-send{
    width: 40%;
    
}

}

@media screen and (max-width: 1100px) {


    .container-nav{
        padding: 10px 40px;
    }

    .titulo-nav{
        font-size: 21px;
    }
.search-container{
    max-width: 350px;
}




}


@media screen and (max-width: 985px) {

.search-container{
    display: none;
}

.span-rastreio{
    display: none;
}

#search-responsive{
    display: flex;
}


.container-nav{
    padding: 10px 70px;
}

}

@media screen and (min-width: 800px) {
.container-menu-tab{
    display: none !important;
}

.container-account-tab{
    display: none !important;
}
}

@media screen and (max-width: 800px) {


    
.container-catalogo{
    display: none;
}


.container-nav{
    padding: 15px 70px;
}


#menu-responsive{
    display: flex;
}

#menu:hover{
    fill: rgb(255, 221, 107); ;
}

.logo{
    justify-content: start;
    width: 100%;
    margin-left: 30px;

 
}



.container-nav{
    padding: 15px 40px;
}


section{
    padding-top: 120px;
}


.container-pags a{
    padding: 0.6rem;
}

.btn-next{
    padding: 9px;
    font-size: 17px;
}

.btn-left{
    padding: 7px;
    font-size: 17px;
}



.container-last{
    margin: 0px 50px;
}



#form-send{
    width: 60%;
    
}

.titulo-fale-conosco{
    padding: 0px 0px;
    padding-bottom: 30px;
    font-size: 23px;
}

.container-main-fale-conosco{
    padding-top: 170px;
}


#svg-account a{
 pointer-events: none;
}

}


@media screen and (max-width: 585px) {

.container-nav{
padding: 30px 10px;
}

.titulo-nav{
    font-size: 19px;
}

.svg-nav{
    width: 36px;
    height: 36px;
}
#rastreio{
    display: none;
}

.logo{
      
    margin-left: 15px;

 
}

#search{
    width: 33px;
    height: 33px
}

.container-svg-nav{
    padding: 0px 10px;
}


.container-menu-tab{
    display: none;
}
.container-menu-tab{
padding-top: 20px;
width: 100%;
}
.container-account-tab{
    padding-top: 20px;
    width: 100%;
    height: 100vh;
    }
    

    .container-colecoes-father img {
        width: 8rem;
        }
        



        .container-last{
            margin: 0px 20px;
        }
        

        #form-send{
            width: 80%;
            
        }

}



@media screen and (max-width: 540px) {



    .logo{
      
        margin-left: 10px;
    
     
    }


    
}