*{
    box-sizing: border-box;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;

    background-color: white;
  
}

.container-nav {
    display: flex;
    justify-content: space-between;


 
    width: 100%;
    position: fixed;
    padding: 10px 250px;
    flex-direction: column;
    background-color: black;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;


}

.titulo-nav{
    margin-bottom: 0;
    color: white;
}


.titulo-nav:hover{
    color:#ffdd6b; ;
}

.search-container {
    display: flex;
    width: 100%;
    margin: 10px 50px;
    max-width: 550px;
}

.search-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: #f8f8f8;
}

.container-svg-nav{
    cursor: pointer;
    padding: 0px 15px;
  

}

.container-svg-nav a{
  justify-content: center;
  align-items: center;
  display: flex;
  

}

.span-rastreio{
    font-weight: 600;
    font-size: 18px;
    min-width: 100%;



    color: white;
}


.span-rastreio:hover{
    color: #ffdd6b;

}


.nav-account{
    text-decoration: none;
    color: black;
    width: 100%;
  
}


.container-rastreio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-nav{
fill: white;
    padding: 0px 5px;
    margin: 10px 0px;
}

.container-account-cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;

 
}


#search-responsive{
    display: none;
}

.titulo-nav{

}

.container-catalogo{
    align-items: center;
    display: flex;
    justify-content: center;

    margin-top: 30px;
}

.container-catalogo a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
}


.container-catalogo a:hover{
    color:#ffdd6b;;
}



#menu-responsive{
    display: none;
}



@media screen and (max-width: 1670px) {
.container-nav{
    padding: 10px 170px;
}


}


@media screen and (max-width: 1500px) {


    .container-nav{
            padding: 10px 120px;
        
    }

    .search-container{
        max-width: 400px;
    }

}



@media screen and (max-width: 1250px) {


.span-rastreio{
    margin-right: 0 !important;
}


.container-nav{
    padding: 10px 70px;
}

}



@media screen and (max-width: 1100px) {


    .container-nav{
        padding: 10px 40px;
    }

    .titulo-nav{
        font-size: 21px;
    }
.search-container{
    max-width: 350px;
}




}


@media screen and (max-width: 985px) {

.search-container{
    display: none;
}

.span-rastreio{
    display: none;
}

#search-responsive{
    display: flex;
}

#search:hover{
    fill: #ffdd6b; ;
}


.container-nav{
    padding: 10px 70px;
}

}


@media screen and (max-width: 800px) {

.container-catalogo{
    display: none;
}


.container-nav{
    padding: 15px 70px;
}


#menu-responsive{
    display: flex;
}

#menu:hover{
    fill: rgb(255, 221, 107); ;
}

.logo{
    justify-content: start;
    width: 100%;
    margin-left: 30px;

 
}



.container-nav{
    padding: 15px 40px;
}



}


@media screen and (max-width: 585px) {

.container-nav{
padding: 30px 10px;
}

.titulo-nav{
    font-size: 19px;
}

.svg-nav{
    width: 36px;
    height: 36px;
}
#rastreio{
    display: none;
}

.logo{
      
    margin-left: 15px;

 
}

#search{
    width: 33px;
    height: 33px
}

.container-svg-nav{
    padding: 0px 10px;
}
}



@media screen and (max-width: 540px) {



    .logo{
      
        margin-left: 10px;
    
     
    }


    
}